.form{
    width: 400px;
    border-radius: 30px;
    border: 2px solid #003d2d;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.inputBox{
    width: 250px;
    border-radius: 30px;
    border: 2px solid #003d2d;
    background-color: transparent;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color:#003d2d;
    outline: none;
}

.carousel-inner{
    background: #d8d8d8;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.inputBox:hover{
    width: 300px;
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #32caa3;
    outline: none;
    color: #32caa3;
    border-radius: 30px;
    transition: 0.5s;
}

form h3{
    color: #003d2d;

}

.btn{
    width: 250px;
    border-radius: 30px;
    border: 2px solid #003d2d;
    background-color: transparent;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color:#003d2d;
    outline: none;
}

.btn:hover{
    width: 300px;
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #32caa3;
    outline: none;
    color: #32caa3;
    border-radius: 30px;
    transition: 0.5s;
}

nav{
    position: relative;
    margin-top: 2%;
    border: 2px solid #003d2d;
    border-radius: 30px
}

.right-nav{
    margin-left: 63%;
}

.nav-item{
    color: #003d2d;
    outline: none;
    
}

#nav-daftar-tab{
    background: #32caa3;
    border-radius: 0 30px 30px 0;
    position: absolute;
    right: 0%;
}
#nav-masuk-tab{
    position: relative;
    right: -20%;
}

.nav-item:hover{
    color:white;
    background: #32caa3
}

#nav-home-tab:hover{
    color:white;
    background: #32caa3;
    border-radius: 30px 0 0 30px;
}

.row{
    padding-top: 30px;
}

#moto{
    font-family: poppins;
    font-weight: bold;

}

.card{
    margin-top: 20px

}
